node_modules/
dist/
client-dist/
server-dist/
.prettierrc.js
.eslintrc.js
env.d.ts
vite.config.ts
vitetest.config.ts
coverage/
package.json
tsconfig.json
tsconfig.vite.json
tsconfig.common.json
tsconfig.server.json
vitest.config.ts
client.d.ts
src/server/srvconf-development.json
src/server/srvconf-production.json
src/server/srvconf-test.json
src/client/internationalisation/**/*.json
storybook-static/