@oliasoft:registry=https://gitlab.oliasoft.com/api/v4/packages/npm/
@oliasoft-open-source:registry=https://gitlab.com/api/v4/packages/npm/
registry=https://registry.yarnpkg.com
//gitlab.oliasoft.com/api/v4/projects/19/packages/npm/:_authToken=
//gitlab.oliasoft.com/api/v4/projects/18/packages/npm/:_authToken=
//gitlab.oliasoft.com/api/v4/projects/14/packages/npm/:_authToken=
//gitlab.oliasoft.com/api/v4/projects/83/packages/npm/:_authToken=

